@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins;
  background-color: #090909;
}

.bg-image {
  background-image: url("./../public/Home/grid.png"); /* Change this path to your image file */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  opacity: 0.2;
  z-index: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

* {
  @apply transition-colors duration-100;
}

/* Scrollbar track (background of the scrollbar) */
::-webkit-scrollbar {
  @apply w-2 h-1;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  @apply dark:bg-app-secondary bg-gray-500;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  @apply bg-white;
  @apply dark:bg-custom-black;
}

.resources ::-webkit-scrollbar {
  @apply w-1 h-1;
}
/* Scrollbar thumb (the draggable part) */
.resources ::-webkit-scrollbar-thumb {
  @apply dark:bg-gray-500;
}
.resources ::-webkit-scrollbar-track {
  @apply rounded-xl;
  @apply dark:bg-custom-black;
}

.rdp-root {
  --rdp-accent-color: red;
  --rdp-accent-background-color: red;
  --rdp-font-family: Poppins;
  --rdp-day-height: 2rem;
  --rdp-day-width: 2rem;
}
