@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins;
  @apply dark:bg-custom-black bg-custom-light;
}

.bg-image {
  background-image: url("/Home/grid.png"); /* Change this path to your image file */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  opacity: 0.2;
  z-index: 0;
}
@media (min-width: 1024px) {
  .slide-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .slide-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
  }
  .slide-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms, transform 500ms;
  }
}

* {
  @apply transition-colors duration-100;
}

/* Scrollbar track (background of the scrollbar) */
::-webkit-scrollbar {
  @apply w-2 h-1;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  @apply dark:bg-app-secondary bg-gray-500;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  @apply bg-white;
  @apply dark:bg-custom-black;
}

.resources ::-webkit-scrollbar {
  @apply w-1 h-1;
}
/* Scrollbar thumb (the draggable part) */
.resources ::-webkit-scrollbar-thumb {
  @apply dark:bg-gray-500;
}
.resources ::-webkit-scrollbar-track {
  @apply rounded-xl;
  @apply dark:bg-custom-black;
}

.rdp-root {
  --rdp-accent-color: red;
  --rdp-accent-background-color: red;
  --rdp-font-family: Poppins;
  --rdp-day-height: 2rem;
  --rdp-day-width: 2rem;
}

.box {
  --mask: linear-gradient(135deg, #0000 42.43px, #000 0);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

@keyframes marquee {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite; /* Adjust duration as needed */
}
